In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

### Imports

In [3]:
%matplotlib inline

### Question 1

In [5]:
pd.__version__

'2.0.3'

    wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv

In [6]:
df = pd.read_csv('data.csv')
len(df)

20640

### Question 2

In [7]:
cols = len(df.axes[1])
print("Number of Columns: ", cols)

Number of Columns:  10

### Question 3

In [8]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### Question 4

In [9]:
len(df.ocean_proximity.unique())

5

### Question 5

In [37]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [41]:
rslt_df = df[df['ocean_proximity'] == 'NEAR BAY'] 
rslt_df.head()
rslt_df['median_house_value'].mean()

259212.31179039303

### Question 6

In [46]:
# Calculate the average of total_bedrooms column in the dataset.
mean_bedroom = df['total_bedrooms'].mean()
print(mean_bedroom)

537.8705525375618

In [47]:
#Prefill - fillna
new_df = df[['total_bedrooms']].fillna(value=mean_bedroom)
new_df['total_bedrooms'].mean()

537.8705525375617

### Question 7

In [19]:
df.ocean_proximity.unique()
reg_df = df[df['ocean_proximity'] == 'ISLAND']
# len(reg_df)
X = reg_df[["housing_median_age", "total_rooms", "total_bedrooms"]].to_numpy()
# len(reg_df[["housing_median_age", "total_rooms", "total_bedrooms"]])

In [20]:
print(X)

[[  27. 1675.  521.]
 [  52. 2359.  591.]
 [  52. 2127.  512.]
 [  52.  996.  264.]
 [  29.  716.  214.]]

In [21]:
Transpose_X = X.T

In [22]:
print(Transpose_X)

[[  27.   52.   52.   52.   29.]
 [1675. 2359. 2127.  996.  716.]
 [ 521.  591.  512.  264.  214.]]

In [49]:
XTX = np.dot(Transpose_X, X)
XTX_inv = np.linalg.inv(XTX)
print(XTX_inv)

[[ 9.19403586e-04 -3.66412216e-05  5.43072261e-05]
 [-3.66412216e-05  8.23303633e-06 -2.77534485e-05]
 [ 5.43072261e-05 -2.77534485e-05  1.00891325e-04]]

In [40]:
y = [950, 1300, 800, 1000, 1300]

In [50]:
w = np.dot(np.dot(XTX_inv, Transpose_X), y) 
# W = np.linalg.inv(XTX) * Transpose_X * y
# W = np.matmul(np.linalg.inv(XTX), Transpose_X)
#inv_val = np.linalg.inv(XTX)
# print(inv_val)
#temp = np.multiply(inv_val * Transpose_X)
# print(temp)

In [51]:
print(w)

[23.12330961 -1.48124183  5.69922946]

In [53]:
print("The last element in the series  is : ", w[-1] )

The last element in the series  is :  5.699229455065594